@model List<JobDto>
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Page Management /</span> Jobs</h4>

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <div class="mb-3">
            <a class="btn btn-success" asp-area="Admin" asp-controller="Job" asp-action="Add">Create Job <i 
                class="bx bx-plus"></i></a>
            </div>
            <table class="table table-striped table-bordered" id="table-jobs">
                <thead class="table-light">
                    <tr>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Salary(Start-End)</th>
                        <th>Dateline</th>
                        <th>Company</th>
                        <th>Created By</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var job in Model)
                    {
                        <tr data-id="@job.Id">
                            <td>@job.Title</td>
                            <td>@(job.District) @(", ") @job.Province @(", ") @job.Country</td>
                            <td>$@job.SalaryStart - $@job.SalaryEnd</td>
                            <td>@job.DateLine.ToString("MM/dd/yyyy")</td>
                            <td>@job.Company.Name</td>
                            <td>@(job.CreatedBy is null ? "Undefined" : job.CreatedBy)</td>
                            <td>
                                <a  class="btn btn-primary btn-sm" data-id="@job.Id" asp-area="Admin" asp-controller="Job" asp-action="Edit" asp-route-id="@job.Id">
                                    <i class="bx bxs-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-sm" data-id="@job.Id" asp-area="Admin" asp-controller="Job" asp-action="Delete" asp-route-id="@job.Id">
                                    <i class="bx bx-minus-circle"></i>
                                </a>
                              
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Salary</th>
                        <th>Dateline</th>
                        <th>Company</th>
                        <th>Created By</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   
</div>

@section Scripts{
    <script src="~/js/job.js" type="application/ecmascript"></script>
}